#main-links
  = link_to "Remove Student", [:office,@course,@course_student], method: :delete, class: 'delete', 'data-confirm': "Are you sure you want to remove this student?"
= title "Edit Student to #{@course}"
= render "form"
