Dear <%= @user.first_name %>,

Your grades and research line details have been published.

To see them please go to the following url -

<%= link_to invite_url(invitation_code: @user.invitation_code), invite_url(invitation_code: @user.invitation_code) %></p>

After you check your details, and create a password, you will be able to submit the form and see the information.

Thank you.
