/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require normalize-rails
 *= require_self
 */


body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #222;
  -webkit-font-smoothing: antialiased;
}

hr {
  border: 2px solid yellow;
}

fieldset {
  margin-bottom: 2em;
  padding: 1em;
  border-color: #EEE;
  legend {
    font-weight: bold;
  }
}

.input {
  margin-bottom: 1em;
  label {
    padding-right: 20px;
  }
  span.radio {
    display: inline-block;
  }
}

header {
  display: block;
  height: 35px;
  line-height: 35px;
  margin: 20px 0 40px;
  overflow: hidden;
}

#error_explanation, .warning {
  p {
    margin: 0;
  }
    padding: 20px;
    background: #FBE3E4;
    color: #96151B;
    font-weight: bold;
  /*border-radius: 4px;*/
  /*background: #FC575E;*/
  /*color: #FFF;*/
  /*padding: 0 20px;*/
  margin-bottom: 1em;
  display: inline-block;
}

.field_with_errors {
  .error {
    display: block;
    padding: 5px;
    background: #FC575E;
    color: #FFF;
    font-size: 0.9em;
    border-radius: 0 0 2px 2px;
    font-weight: bold;
  }
}

h1 {
  margin-bottom: 1em;
}

a {
  color: #000;
  text-decoration: none;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: 0 auto 50px;
  padding: 0 10px;
}

.user-nav {
  float: right;
}

@media print {
  .user-nav { display: none; }
}

p { 
    line-height: 1.2em;
    font-size: 0.9em;
}


html {
  min-height: 100%;
}

body {
  height: 100%;
}
