<!DOCTYPE html>
<html>
<%= render "office/users/reports/pdf_head" %>
<body>
<header>
  <div class="logo"><%= image_tag "http://i.imgur.com/iCkavn0.png" %></div>
  <div class="logo"><%= image_tag "http://i.imgur.com/Mt79HRh.png" %></div>
</header>
</body>
</html>