<!DOCTYPE html>
<html>
<%= render "office/users/reports/pdf_head" %>
<body>
<footer>
  <p>Institut d'Arquitectura Avançada de Catalunya, Fundació Privada, IaaC - CIF: G 63322614</p>
  <p>Pujades 102 baixos, Poble Nou, 08005 Barcelona, tel. (+34) 93 320 95 20 - fax (+34) 93 300 43 33</p>
  <p>Valldaura Self Sufficient Labs - Carretera d’Horta a Cerdanyola km 7, 08290 Cerdanyola del Vallès</p>
</footer>
</body>
</html>
